body {
    background-image: url(../img/fondoNum.jpg);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    margin-top: 200px;
    div{
        background-color: white;
        padding: 15px;
        h1 {
            color: #333;
            font-size: 3rem;
        }
        p {
            color: #666;
            font-size: 2rem;
        }    
    }
}


